<!DOCTYPE html>
<html>
  <head>
    <title>mtarep</title>
    <script src="/bootstrap/js/jquery-1.8.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  </head>

  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand"><strong>mtarep - Reputation Reporting & Statistics Dashboard</strong></a>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/bootstrap/img/list.png"></a>
              <ul class="dropdown-menu">
                <li><a href="/" style="color: #cccccc;">Home</a></li>
                <li><a href="/help" style="color: #cccccc;">Help</a></li>
                <li><a href="/graphs" style="color: #cccccc;">Graphs</a></li>
                <li><a href="/version" style="color: #cccccc;">Version</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <br>
    <div class="container">
      <div class="row">
        <div class="span2"></div>
        <div class="span8" align="center">
          <br>
          <br>
          <br>
          <br>
          <p style="color: #BCBCBC; font-size: 440%;"><strong>Your Version</strong></p>
          <br>
          <br>
          <br>
          <p style="color: #54666F; font-size: 840%;"><strong><%= @this_version %></strong></p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p style="color: #BCBCBC; font-size: 200%;"><strong>Latest Version</strong></p>
          <br>
          <p style="color: #885059; font-size: 400%;"><strong><%= @latest_version %></strong></p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <% if @latest_version.strip == @this_version.strip %>
            <p style="color: #BCBCBC;"><strong>Congrats... You Are Running The Dopest Version!</strong></p>
          <% end %>
          <a href="https://github.com/phantasm66/mtarep" target="_blank"><strong style="color: #413D3D;"><img src="/bootstrap/img/github_octocat.png">mtarep on github</strong></a>
        </div>
        <div class="span2"></div>
      </div>
    </div>
  </body>
</html>
