#
# MTArep main configuration file
#
# Please review the README or visit:
# https://github.com/phantasm66/mtarep
#

error_log: /var/log/mtarep_errors.log
redis_server: localhost
snds_key: <microsoft generated snds data access key>
maillog_path: /var/log/maillog
ssh_key: /root/.ssh/mtarep.private
ssh_user: mtarep
http_auth_file: /etc/mtarep/htpasswd

graph_domains:
 - yahoo.com
 - hotmail.com
 - gmail.com
 - aol.com
 - comcast.net

rbls:
 - b.barracudacentral.org
 - bl.mailspike.net
 - bl.score.senderscore.com
 - bl.spamcannibal.org
 - bl.spamcop.net
 - cbl.abuseat.org
 - cidr.bl.mcafee.com
 - db.wpbl.info
 - dnsbl-1.uceprotect.net
 - dnsbl-2.uceprotect.net
 - dnsbl-3.uceprotect.net
 - multi.surbl.org
 - psbl.surriel.com
 - zen.spamhaus.org

mta_map:
  mta1-internal: 'mta1.mydomain.com'
  mta2-internal: 'mta2.mydomain.com'
  mta3-internal: 'mta3.mydomain.com'
  mta4-internal: 'mta4.mydomain.com'
  mta5-internal: 'mta5.mydomain.com'

provider_block_strings:
  aol: 'postmaster.info.aol.com/errors/5'
  att: 'For_information_see_http://att.net/blocks'
  hotmail: 'mail.live.com/mail/troubleshooting.aspx#errors'
  comcast: 'postmaster.comcast.net/smtp-error-codes.php#BL0'
  cox: 'Error Code: CXBL'
  united: '550 Access denied...'
  roadrunner: 'postmaster.rr.com/amIBlockedByRR'
  maps: 'ers.trendmicro.com/reputations'
  earthlink: 'earthlink.net/block'
  verizon: 'www.verizon.net/whitelist'
  gmail: 'www.google.com/mail/help/bulk_mail.html'
  bluetie: 'support.bluetie.com/rbl'
  cloudmark: 'csi.cloudmark.com/reset-request'

removal_links:
  aol: 'http://postmaster.aol.com/SupportRequest.Other.php'
  att: 'http://rbl.att.net/cgi-bin/rbl/block_admin.cgi'
  hotmail: 'https://support.msn.com/eform.aspx?productKey=edfsmsbl2&ct=eformts&scrx=1'
  comcast: 'http://postmaster.comcast.net/block-removal-request.html'
  cox: 'http://postmaster.cox.net/confluence/display/postmaster/Contact+US+Form'
  united: 'http://www.unitedonline.net/postmaster/blocked.html'
  roadrunner: 'http://postmaster.rr.com/amIBlockedByRR'
  maps: 'https://ers.trendmicro.com/reputations'
  earthlink: 'http://support.earthlink.net/articles/email/email-blocked-by-earthlink.php'
  verizon: 'http://my.verizon.com/micro/whitelist/RequestForm.aspx?id=isp'
  gmail: 'http://support.google.com/mail/bin/request.py?&contact_type=msgdelivery'
  bluetie: 'http://support.bluetie.com/rbl'
  cloudmark: 'https://csi.cloudmark.com/en/reset/'
  brightmail: 'http://ipremoval.sms.symantec.com/lookup/'
  zen.spamhaus.org: 'http://www.spamhaus.org/query/ip/'
  bl.spamcop.net: 'http://www.spamcop.net/w3m?action=checkblock&ip='
  b.barracudacentral.org: 'http://www.barracudacentral.org/lookups'
  bl.mailspike.net: 'http://mailspike.org/anubis/lookup.html'
  bl.spamcannibal.org: 'http://www.spamcannibal.org/cannibal.cgi'
  cbl.abuseat.org: 'http://cbl.abuseat.org/lookup.cgi'
  dnsbl-1.uceprotect.net: 'http://www.uceprotect.net/en/rblcheck.php'
  dnsbl-2.uceprotect.net: 'http://www.uceprotect.net/en/rblcheck.php'
  dnsbl-3.uceprotect.net: 'http://www.uceprotect.net/en/rblcheck.php'
  multi.surbl.org: 'http://www.surbl.org/surbl-analysis'
  psbl.surriel.com: 'http://psbl.org/listing'
  cidr.bl.mcafee.com: 'http://www.mcafee.com/threat-intelligence/ip/default.aspx?ip='
  db.wpbl.info: 'http://www.wpbl.info/cgi-bin/detail.cgi?ip='

assistance_links:
  hotmail: 'http://path.to.documented.steps.to/help/with.this.hotmail.form'
  aol: 'http://path.to.documented.steps.to/help/with.this.aol.form'
  spamhaus: 'http://path.to.documented.steps.for/how.to.deal/with.spamhaus.blocks'

